.container {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  .progress_info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .progress_bar {
    margin-top: 12px;
    width: 150px;
    height: 8px;
    border-radius: 12px;
    background-color: $oura1-grey-300;
    .progress {
      content: '';
      border-radius: 12px;
      height: 100%;
      background-color: $oura1-light-blue;
    }
  }
}

.alert_icon {
  color: $white-100;
  fill: $yellow-300;
  &:hover {
    cursor: pointer;
  }
}
