$font-weights: (
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

$colors: (
  primary: $oura1-brand-600,
  link: $oura1-links-blue,
  secondary: $oura1-text-500,
  success: $oura1-green-500,
  error: $oura1-red-500,
  warning: $oura1-yellow-500,
  info: $oura1-brand-400,
  black: $oura1-text-900,
);

@mixin font-weights {
  @each $weight, $value in $font-weights {
    .font#{$weight} {
      font-weight: $value;
    }
  }
}

@mixin colors {
  @each $name, $value in $colors {
    .color#{$name} {
      color: $value;
    }
  }
}

.container {
  span {
    color: $oura1-links-blue;
    @include typography('xs');
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
  }
}

@include font-weights;
@include colors;
