$pointer-xxxxs: var(--xxxxs);
$pointer-xxxs: var(--xxxs);
$pointer-xxs: var(--xxs);
$pointer-xs: var(--xs);
$pointer-sm: var(--sm);
$pointer-md: var(--md);
$pointer-lg: var(--lg);
$pointer-xlg: var(--xlg);
$pointer-xxlg: var(--xxlg);
$pointer-xxxlg: var(--xxxlg);

$border-radius-common: var(--border-radius-common);
$border-radius-section: var(--border-radius-section);
