.container {
  .selected_ops_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border: 1px solid $grey-700;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    .chip_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      height: auto;
      .chip {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px 12px;
        border-radius: 13px;
        background-color: $grey-500;
        p,
        .chip_text {
          @include typography('xs', 'medium');
          color: $primary-default;
        }
        svg {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.paper {
  background-color: $white-100;
  border: 1px solid $grey-1100;
  border-radius: 0 0 5px 5px;
  padding-bottom: 12px;

  .paper_children {
    max-height: 300px;
    overflow-y: scroll;
  }
  ul {
    @include themeScrollbar();
  }

  .action_items {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-right: 12px;
    gap: 8px;
    justify-content: flex-end;
    button {
      padding: 8px 12px;
    }
  }

  @media (max-height: 555px) {
    .paper_children {
      max-height: 150px;
      overflow-y: scroll;
    }
  }
}

.option_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  padding: 12px 16px;
  &[data-active='true'] {
    background-color: $white-200;
  }
  .option_title {
    flex: 1;
  }
  .check_icon {
    margin-right: 6px;
    width: 18px;
    height: 18px;
  }
}
